#genre-container {
  background-color: #3a3c3f;
}

.genre {
  display: inline-block;
}

.artist-box-2 {
  border-radius: 5px;
  background-color: silver;
  box-shadow: 10px 5px 5px #888888;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
}

.track-box {
  border-radius: 5px;
  background-color: turquoise;
  box-shadow: 10px 5px 5px white;
  margin-bottom: 10px;
  padding: 5px;
}
